<div style="margin: 0 39px;">
    <h3>Similar Products in Category</h3>
    @if(otherProductsInCategory.length === 0){
        <h3>No Similar Products Found!</h3>
    }
    @else{
        @for(products of otherProductsInCategory; track products.id){
            <div style="display: flex; flex-direction: column;">
                <mat-card class="card" appearance="outlined">
                    <mat-card-header>
                        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
                            <mat-card-title>{{ products.name }}</mat-card-title>
                            <mat-card-subtitle>{{ products.price | currency:'INR' }}</mat-card-subtitle>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{products.description}}</p>
                    </mat-card-content>
                    <mat-card-footer style="padding: 10px;">
                        <button mat-button [routerLink]="['/all-products',products.id]">Go To Product</button>
                    </mat-card-footer>
                </mat-card>
            </div>
        }
    }
</div>