<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div style="display: flex; flex-direction: column; gap: 20px; text-align: start; padding: 10px;">
            @if(authService.isLoggedIn()){
                <button mat-button (click)="onLogout()">Logout</button>
            }
            @else{
                <button mat-button routerLink="login" routerLinkActive="active">Login</button>
            }
        <a routerLink="all-products" routerLinkActive="active">Products Dashboard</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>